.suggested-videos-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.suggested-video {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.suggested-video-thumbnail {
    width: 150px;
    height: 84px;
    object-fit: cover;
    border-radius: 8px;
    &:hover {
        cursor: pointer;
    }
}

.suggested-video-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.suggested-video-title {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    margin: 0;
}

.suggested-video-metadata {
    display: flex;
    align-items: center;
    gap: 6px;

    span {
        font-size: 12px;
        color: gray;
    }
}

.suggested-video-channel,
.suggested-video-views,
.suggested-video-time {
    font-size: 12px;
    color: gray;
    margin: 0;
}
