#category-bar-container {
    padding-top: 20px;
    margin-bottom: 28px;
    display: flex;
    flex-shrink: 0;
    width: 100%;
    overflow-x: hidden;
    gap: 0 10px;
    & .categories-icon {
        font-weight: 450;
        flex-shrink: 0;
        font-size: 0.9rem;
        background-color: rgb(0, 0, 0, 0.05);
        padding: 8px 10px;
        border-radius: 8px;
        transition: background-color 0.2s;

        &:hover {
            cursor: pointer;
            background-color: rgb(0, 0, 0, 0.1);
        }
    }

    & .categories-icon.active {
        background-color: rgb(0, 0, 0);
        color: white;
    }
}
