#category-bar-container {
    padding-top: 20px;
    margin-bottom: 28px;
    display: flex;
    position: relative;
    flex-shrink: 0;
    width: 100%;
    overflow: hidden;
    gap: 0 10px;
    & .categories-icon {
        font-weight: 450;
        flex-shrink: 0;
        font-size: 0.9rem;
        background-color: rgb(0, 0, 0, 0.05);
        padding: 8px 10px;
        border-radius: 8px;
        transition: background-color 0.2s;

        &:hover {
            cursor: pointer;
            background-color: rgb(0, 0, 0, 0.1);
        }
    }

    & .categories-icon.active {
        background-color: rgb(0, 0, 0);
        color: white;
    }

    &::after {
        content: "";
        display: block;
        position: fixed;
        right: 0;
        height: 40px;
        width: 200px;
        background: linear-gradient(
            to right,
            rgb(255, 255, 255, 0),
            rgb(255, 255, 255, 1),
            rgb(255, 255, 255, 1)
        );
    }

    & .left-arrow {
        height: 32px;
        position: fixed;
        transform: rotate(180deg);
        z-index: 2;
        padding: 8px;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    & .right-arrow {
        height: 32px;
        position: fixed;
        padding: 8px;
        border-radius: 50%;
        right: 2%;
        z-index: 2;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}
