#category-bar-container {
    margin: 20px 0 28px 0;
    display: flex;
    width: 100%;
    gap: 0 10px;
    & .categories-icon {
        font-weight: 450;
        font-size: 0.9rem;
        background-color: rgb(0, 0, 0, 0.05);
        padding: 8px 10px;
        border-radius: 8px;
    }
}
