#sidebar {
    flex-shrink: 0;
    width: 240px;
    padding: 12px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    & .you-btns {
        margin-top: 12px;
        padding-bottom: 12px;
        border-width: 1px 0px;
        border-color: #dedede;
        border-style: solid;
        display: flex;
        flex-direction: column;
    }
}

.sidebar-button {
    display: flex;
    align-items: center;
    gap: 0 10px;
    border-radius: 8px;
    padding: 4px;

    & .icon-container {
        height: 40px;
        width: 40px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    & p {
        font-size: 14px;
    }
}
