#youtube-content {
    width: 100%;
    overflow-y: hidden;
    margin-left: 28px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.videos-section {
    display: flex;
    gap: 32px 16px;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow-y: scroll;
}
