#youtube-content {
    width: 100%;
    overflow-y: hidden;
    padding-left: 28px;
    padding-right: 28px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.videos-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 32px 16px;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow-y: scroll;
}
